const { forEach } = require("../../../../wwwroot/Admin/vendor/fontawesome-free/js/v4-shims");

@model HNCHOME.Areas.Admin.Models.ViewModel.CustomerServiceRegistrationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="page-content">
    <div class="page-header">
        <p class="fw">Danh sách khách hàng đăng ký</p>
        @*<button type="button" href="#myModal" role="button" onclick="ShowFormAdd()" class="btn btn-primary" data-bs-toggle="modal">Thêm mới</button>*@
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="myFrom">
                            <div class="mb-3">
                                <input asp-for="Customer.CustomerId" type="text" class="form-control" hidden id="CustomerId" aria-describedby="emailHelp">
                                <span asp-validation-for="Customer.CustomerId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Tên khách hàng</label>
                                <input asp-for="Customer.CustomerId" required name="CustomerName" type="text" class="form-control" id="CustomerName" aria-describedby="emailHelp">
                                <span asp-validation-for="Customer.CustomerId" id="erCustomerId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Tên công ty</label>
                                <input asp-for="Customer.CompanyName" required name="CompanyName" type="text" class="form-control" id="CompanyName" aria-describedby="emailHelp">
                                <span asp-validation-for="Customer.CompanyName" id="erCompanyName" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Mã số thuế</label>
                                <input asp-for="Customer.TaxCode" checkdate required type="text" class="form-control" id="TaxCode">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Nơi ở</label>
                                <input asp-for="Customer.PhoneNumber" required type="tel" class="form-control" id="PhoneNumber">
                                <span asp-validation-for="Customer.PhoneNumber" id="erCustomer.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="UserName" class="form-label">Email</label>
                                <input asp-for="Customer.Email" required type="email" class="form-control" id="Email">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="DeliveryType" class="form-label">Phương thức vận chuyển</label>
                                <input asp-for="Customer.DeliveryType" type="text" class="form-control" id="DeliveryType">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="FirstDestination" class="form-label">Điểm khởi hành</label>
                                <input asp-for="Customer.FirstDestination" type="text" class="form-control" id="FirstDestination">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="LastDestination" class="form-label">Điểm đến</label>
                                <input asp-for="Customer.LastDestination" type="text" class="form-control" id="LastDestination">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="GoodsType" class="form-label">Loại hàng hóa</label>
                                <input asp-for="Customer.GoodsType" type="text" class="form-control" id="GoodsType">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="Weight" class="form-label">Trọng lượng</label>
                                <input asp-for="Customer.Weight" type="text" class="form-control" id="Weight">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="Size" class="form-label">Kích cỡ</label>
                                <input asp-for="Customer.Size" type="text" class="form-control" id="Size">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="Quantum" class="form-label">Số lượng</label>
                                <input asp-for="Customer.Quantum" type="text" class="form-control" id="Quantum">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="Quantity" class="form-label">Sản lượng</label>
                                <input asp-for="Customer.Quantity" type="text" class="form-control" id="Quantity">
                            </div>
                            <div class="mb-3" id="group-password">
                                <label for="OtherRequest" class="form-label">Yêu cầu khác</label>
                                <input asp-for="Customer.OtherRequest" type="text" class="form-control" id="OtherRequest">
                            </div>
                            <div class="mb-3" id="Service">
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-search">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <span><i b-eginzb9zup="" class="fa fa-search" aria-hidden="true"></i></span>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="input-groups">
                            <form method="get" style="display:flex">
                                <label style="margin-right:10px" for="">Tên Nhân Viên</label>
                                <div>
                                    <div>
                                        <input type="text" name="filter">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-table">
        <table class="table table-bordered order-column dataTables" style="width:100%" id="dataTable" cellpadding=0>
            <thead>
                <tr>
                    <th scope="col">Mã khách hàng</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Tên công ty</th>
                    <th scope="col">Mã số thuế</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phương thức vận chuyển</th>
                    <th scope="col">Điểm khởi hành</th>
                    <th scope="col">Điểm đến</th>
                    <th scope="col" class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.CustomerName</td>
                        <td>
                            @customer.CompanyName
                        </td>

                        <td>@customer.TaxCode</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.Email</td>
                        <td>@customer.DeliveryType</td>
                        <td>@customer.FirstDestination</td>
                        <td>@customer.LastDestination</td>
                        <td class="text-center">
                            <button href="#myModal" data-bs-toggle="modal" onclick="ShowFormUpdate('@customer.CustomerId')" type="button" class="btn btn-default">Xem chi tiết</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
<div class="alert alert-primary" id="notify" role="alert">
    Thêm Mới Thành Công
</div>
@section Scripts {
<script>

</script>
}
<script>

    var employeeId = "";
    function ShowFormAdd(){
        var employeeId = "";
        $('#group-password').show();

    };
    function Delete(employeeId) {
        var result = confirm("Bạn có muốn xóa nhân viên này?");
        if (result) {
            var Url = "";
            Url = "/Admin/Home/Delete"
            $.ajax({
                type: 'Post',
                url: Url,
                data: { EmployeeId: employeeId },
                async: false,
                success: function (res) {
                    if(res==200){
                        window.location.pathname = "/Home/Index"
                    }
                    else{
                        alert('Xóa bản ghi không thành công')
                    }
                },
                error: function (data) {
                    notAuthozire(data);
                }
            })
        } else {

        }
    }
    function HideForm() {
        $('#myFrom')[0].reset();
        $('.btn-add').html('Thêm');
        $('.btn-add').css('display','none');
          $('#DepartmentId').prop('selectedIndex',0)
    }
    function ShowFormUpdate(employeeId) {
        this.employeeId = employeeId;
        $.ajax({
            type: 'Get',
            url: '/Admin/CustomerServiceRegistration/GetInfoById',
            contentType: 'application/json; charset=utf-8',
            data: { id: employeeId },
            async: false,
            success: function (res) {
                console.log(res.services);
                $('#group-password').hide();
                $('.btn-add').html('Sửa');
                $('.btn-add').css('display','none');
                $('#CustomerId').val(res.customer.customerId);
                $('#CustomerName').val(res.customer.companyName);
                $('#CompanyName').val(res.customer.companyName);
                $('#TaxCode').val(res.customer.taxCode);
                $('#PhoneNumber').val(res.customer.phoneNumber);
                $('#Email').val(res.customer.deliveryType);
                $('#DeliveryType').val(res.customer.deliveryType);
                $('#FirstDestination').val(res.customer.firstDestination);
                $('#LastDestination').val(res.customer.lastDestination);
                $('#GoodsType').val(res.customer.goodsType);
                $('#Weight').val(res.customer.weight);
                $('#Size').val(res.customer.size);
                $('#Quantum').val(res.customer.quantum);
                $('#Quantity').val(res.customer.quantity);
                $('#OtherRequest').val(res.customer.otherRequest);
                var service="";
                for(let i=0; i<res.services.length; i++){
                    service+='<div class="form-check">'+
                              '<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>'+
                                            '<label class="form-check-label" for="flexCheckChecked">'+
                                               res.services[i].serviceTypeName+
                                                    '</label></div>'
                }
                document.getElementById("Service").innerHTML=service;
                console.log(service);
            },error(data){
                notAuthozire(data);
            }
        })
    }
    function AddOrUpdate(){
            var data = {
                EmployeeId:this.employeeId,
                EmployeeCode:$('#EmployeeCode').val(),
                EmployeeName:$('#EmployeeName').val(),
                DateOfBirth:$('#DateOfBirth').val(),
                Address:$('#Address').val(),
                Phone:$('#Phone').val(),
                UserName:$('#UserName').val(),
                PassWord:$('#PassWord').val(),
                DepartmentId:$('#DepartmentId').val()
            };
            Validate();
              let validateInput = $('input[validate="false"]');
                if (validateInput && validateInput.length > 0) {
                  alert("Bạn hãy điền đủ các trường thông tin");
                  $(validateInput)[0].focus();
                  return;
                }
            if(this.employeeId==""){
            $.ajax({
                type: 'Post',
                url: '/Admin/Home/AddEmployee',
                dataType:"json",
                data: { employee: data },
                async:false,
                success: function (res) {
                    if(res==201){
                        window.location.pathname="/Admin"
                    }
                    else{
                        alert(res);
                    }
                },
                error: function (data) {
                      notAuthozire(data);
                }
            })
            }
            else{
            $.ajax({
                type: 'Post',
                url: '/Admin/Home/UpdateEmployee',
                dataType:"json",
                data: { employee: data },
                async:false,

                success: function (res) {
                     if(res==201){
                        window.location.pathname="/Admin"
                    }
                    else{
                        alert(res)
                    }
                },
                error: function (data) {
                   notAuthozire(data);
                }
            })
        }
    }
    function notAuthozire(data){
        if(data.status==403){
             alert('Bạn không có quyền này');
             window.location.pathname="/Account/AccessDenied";
        }
    }

</script>
<style>
    .page-link {
        color: black;
    }

        .page-link:focus {
            box-shadow: unset;
        }
</style>