@model HNCHOME.Areas.Admin.Models.ViewModel.NewsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<main class="page-content">
    <div class="page-header">
        <p class="fw">Danh sách tin tức</p>
        <!-- Button HTML (to Trigger Modal) -->
        <button type="button" href="#myModal" role="button" class="btn btn-primary" data-bs-toggle="modal">Thêm mới</button>

        <!-- Modal HTML -->
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm Mới Tin Tức</h5>
                        <button type="button" onclick="HideForm()" class="btn-close btn btn-default" data-bs-dismiss="modal"> <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div class="modal-body">
                        <form id="myFrom">
                            @*@Html.AntiForgeryToken()*@
                            <div class="mb-3">
                                <input asp-for="NewsModel.NewsId" type="text" class="form-control" hidden id="NewsId" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Tiêu đề</label>
                                <input asp-for="NewsModel.Title" required type="text" class="form-control" id="Title" aria-describedby="emailHelp">
                                <span asp-validation-for="NewsModel.Title" id="erTitle" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nội dung</label>
                                <textarea asp-for="NewsModel.Content" required name="Content" type="text" class="form-control" id="Content" aria-describedby="emailHelp"></textarea>
                                <span asp-validation-for="NewsModel.Content" id="erContent" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ảnh</label>
                                <input asp-for="NewsModel.ImgUrl" required name="ImgUrl" type="file" class="form-control" id="ImgUrl" aria-describedby="emailHelp">
                                <span asp-validation-for="NewsModel.ImgUrl" id="erImgUrl" class="text-danger"></span>
                            </div>
                            <div class="mb-3 text-right">
                                <button type="button" onclick="AddOrUpdate()" class="btn btn-primary btn-add">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-search">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <span><i b-eginzb9zup="" class="fa fa-search" aria-hidden="true"></i></span>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="input-groups">
                            <form action="/Admin/Department/Index" method="get" style="display:flex">
                                <label style="margin-right:10px" for="">Tên tin tức</label>
                                <div>
                                    <div>
                                        <input type="text" name="filter">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-table">
        <table class="table table-bordered" id="dataTable" cellpadding=0>
            <thead>
                <tr>
                    <th scope="col">Mã tin tức</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col" class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NewsModels)
                {
                    <tr>
                        <td>@item.NewsId</td>
                        <td><div style="word-break: break-word;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;line-height: 16px; 
    
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;text-overflow:'...'">@Html.Raw(@item.Title)</div></td>
                        <td><div style="word-break: break-word;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;line-height: 16px; 
    
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;text-overflow:'...'">@Html.Raw(@item.Content)</div></td>
                        <td><img style="width:20%; height:20%;" src="~/NewsImg/@item.ImgUrl" /></td>
                        <td>@item.CreatedDate.ToString(string.Format("dd-mm-yyyy"))</td>
                        <td class="text-center">
                            <button href="#myModal" data-bs-toggle="modal" onclick="ShowUpdate('@item.NewsId')" type="button" class="btn btn-default">Chỉnh sửa</button>
                            <a style="cursor:pointer" onclick="Delete('@item.NewsId')" class="btn btn-light">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</main>

<script>
    var departmentId = "";
    function AddOrUpdate(){
        var data = {
             NewsId:$('#NewsId').val(),
             Title:$('#Title').val(),
             Content:CKEDITOR.instances.Content.getData(),
             ImgUrl:$('#ImgUrl').val(),
        }
        Validate();
         let validateInput = $('input[validate="false"]');
            if (validateInput && validateInput.length > 0) {
              alert("Bạn hãy điền đủ các trường thông tin");
              $(validateInput)[0].focus();
              return;
            }
            if(this.departmentId==""){
                var formFile=$('input[type=file]')[0].files[0];
                console.log(formFile);
                var formData=new FormData();
                formData.append("formFile",formFile);
                setTimeout(()=>{
                    formData.append("formFile",formFile);
                    $.ajax({
                        type: 'Post',
                        url: '/Admin/News/UploadFile',
                        data:  formData ,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,
                        async:false,
                        success: function (res) {
                            //alert(res.res);
                            var newsModel = {
                                NewsId:$('#NewsId').val(),
                                Title:$('#Title').val(),
                                Content:CKEDITOR.instances.Content.getData(),
                                ImgUrl:res.res,
                            }
                            $.ajax({
                                type: 'Post',
                                url: '/Admin/News/AddNews',
                                data:  newsModel ,
                                async:false,
                                success: function (result) {
                                    alert(result.result);
                                    window.location.pathname="/Admin/News/Index"
                                },
                                error: function (result) {
                                    console.log(result.result);
                                }
                            });
                        },
                        error: function (res) {
                            console.log(res);
                            alert(res.responseJSON.res);
                            //window.location.pathname="/Admin/News/Index"
                        }
                    });
                }, 500)
            }
            else{

                if($('input[type=file]')[0].files.length!=0){
                    setTimeout(()=>{
                            var formData= new FormData();
                            var formFile=$('input[type=file]')[0].files[0];
                            formData.append("formFile",formFile);
                            $.ajax({
                            type: 'Post',
                            url: '/Admin/News/UploadFile',
                            data:  formData ,
                            processData: false,
                            contentType: false,
                            async:false,
                            success: function (res) {
                            var newsModel = {
                                NewsId:$('#NewsId').val(),
                                Title:$('#Title').val(),
                                Content:CKEDITOR.instances.Content.getData(),
                                ImgUrl:res.res,
                            }
                            $.ajax({
                                type: 'Post',
                                url: '/Admin/News/UpdateNews',
                                dataType:"json",
                                data: { newsModel: newsModel },
                                async:false,
                                success: function (res) {
                                    alert(res.res);
                                    window.location.pathname="/Admin/News/Index"
                                },
                                error: function (res) {

                                    console.log(res.res);
                                }
                            });
                    },
                    error: function (res) {
                         console.log(res);
                         alert(res.responseJSON.res);
                         //window.location.pathname="/Admin/News/Index"
                      }
                     });
                    }, 500);
                }
                else{

                    $.ajax({
                        type: 'Post',
                        url: '/Admin/News/UpdateNews',
                        //dataType:"json",
                        data: { newsModel: data },
                        async:false,
                        success: function (res) {
                            debugger;
                            console.log(res);
                            alert(res.res);
                            window.location.pathname="/Admin/News/Index";
                        },
                        error: function (res) {

                            console.log(res);
                        }
                    });
                }


         }
    }
    function Delete(departmentId) {
        debugger
        var result = confirm("Bạn có chắc muốn xóa không?");
        if (result) {
            var Url = "/Admin/News/DeleteNews"
            $.ajax({
                type: 'Post',
                url: Url,
                data: { id: departmentId },
                async: false,
                success: function (res) {
                    alert(res.responseJSON.res);
                    window.location.pathname = "/Admin/News/Index";
                },
                error: function (data) {
                    console.log(data);
                }
            })
        } else {

        }
    }
    function HideForm() {
       $('.btn-add').html('Thêm mới');
       $('#ImgUrl').attr('required','required');
       var departmentId = "";
    }
    function ShowUpdate(departmentId) {
        this.departmentId = departmentId;
        $.ajax({
            type: 'Get',
            url: '/Admin/News/GetNewsById',
            contentType: 'application/json; charset=utf-8',
            data: { id: departmentId },
            async: false,
            success: function (data) {
                $('.btn-add').html('Sửa');
                $('#ImgUrl').removeAttr('required');
                $('#NewsId').val(data.res.newsId);
                $('#Title').val(data.res.title);
                CKEDITOR.instances.Content.setData(data.res.content);
                //console.log(data.res);
            }
        })
    }
</script>

<script>
    CKEDITOR.replace("Content");
</script>



